{% load myapptags %}
<!--link rel="stylesheet" href="css/style_for_backtotop.css" -->

<!-- BackToTop Button -->
{% comment %} <a class="ps-cart__toggle back-to-top show" style="z-index:1000;background-color:orange;width:40px;Height:40px;"><span><i>20</i></span>
  <!-- <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> -->
  <!-- <span class="sr-only">Loading...</span> -->
  <i class="ps-icon-shopping-cart"></i>
</a> {% endcomment %}

<!--config with header-->
{% if request.user.is_authenticated %}  
{% shopcartcount user.id as count %}
<a class="ps-cart__toggle back-to-top show" href="{% url 'order:shopcart'%}" style="background-color:orange;z-index:999999 !important;top: 80%;"><span><i class="cartlistcount">{{ count }}</i></span><i class="ps-icon-shopping-cart"></i></a>
{%else%} <!--Not login get Session-->{% countsess request as count_sess %}
<a class="ps-cart__toggle back-to-top show" href="{% url 'order:view_cartlist_sess'%}" style="background-color:orange;z-index:999999 !important;top: 80%;"><span><i class="cartlistcount_sess">{{count_sess}}</i></span><i class="ps-icon-shopping-cart"></i></a>
{%endif%} <!--end if authenticate-->

<!-- BackToTop Telegram -->
<a class="back-to-top show" href="https://t.me/+GVQS51fJ1QVkZTg9" style="z-index:999999 !important;background-color:white;top:85%;">
        <svg xmlns="http://www.w3.org/2000/svg" style="color:#0088cc;" width="50" height="50" fill="currentColor" class="bi bi-telegram" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"/>
        </svg>
</a>

<!-- BackToTop Button -->
<a href="javascript:void(0);" id="backToTop" class="back-to-top" style="z-index:5000;">
        <i class="arrow"></i><i class="arrow"></i>
</a>
<!-- End BackToTop Button -->
<!-- Back-to-top button handler code -->
<script>
        $(document).ready(function(){
            var btn = $('#backToTop');
            $(window).on('scroll', function() {
                if ($(window).scrollTop() > 300) {
                    btn.addClass('show');
                } else {
                    btn.removeClass('show');
                }
            });
            btn.on('click', function(e) {
                e.preventDefault();
                $('html, body').animate({
                    scrollTop: 0
                }, '300');
            });
        });
</script>